<!DOCTYPE html>
<!--This website was made by Desmond Chan using the Stylish Portfolio bootstrap theme
found at https://startbootstrap.com/template-overviews/stylish-portfolio/ 
the purpose of this website was to demonstrate better responsiveness over a wordpress theme
using bootstrap in addition to adding a website to my portfolio-->
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wun2Free Entertainment</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>WUN2FREE</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>About</a>
            </li>
            <li>
                <a href="#gallery" onclick=$("#menu-close").click();>Gallery</a>
            </li>
      
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="red-title-text">WUN2FREE</h1><h1> entertainment</h1>
            <h3>EVENT PLANNING, CARNIVAL GAMES, TOYS & PRIZES, THEMED EVENTS, LARGE EVENTS.</h3>
            <br>
           
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                   
                </div>
                     <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#aboutus">About Us</a></li>
                      <li><a data-toggle="tab" href="#ourteam">Our Team</a></li>
                      <li><a data-toggle="tab" href="#partnerships">Partnerships</a></li>
                    </ul>

                <div class="tab-content">
                  <div id="aboutus" class="tab-pane fade in active">
                    <div class="col-lg-6">
                    <h3>About Us</h3>
                    <p>Wun2Free Entertainment is an events company created to bring smiles to people from all around the world. Our company offers event planning services in a variety of sizes and themes, such as the Richmond Night Market Games and catering services like Bubble Tea Avenue.</p>
                    
                   <blockquote><i>Our story is told through the experiences we provide.</i></blockquote>


                          <p>
                    Every game at the Richmond Night Market is designed to be a fun memory with your friends and family. The team behind the designs of each game focuses on building depth and fairness so that it can be family friendly. As a result, any child, teenager, adult, or senior will walk away with a smile on their face.</p>



                    <blockquote><i>Our games create positive energy through the environment we provide at the Richmond Night Market.</i></blockquote>
                      </div>
                      <div class="col-lg-6">
                          <div class="videoWrapper">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/8g4D9VLptzg"  frameborder="0" allowfullscreen></iframe>
                              </div>
                      </div>
                      <div class="col-lg-12 top-margin">
                      <div class="col-md-4 col-top-margin"><img class="img-responsive" src="assets/img/about-image-1.jpg"></div>
                      <div class="col-md-4 col-top-margin"><img class="img-responsive" src="assets/img/about-image-2.jpg"></div>
                      <div class="col-md-4 col-top-margin"><img class="img-responsive" src="assets/img/about-image-3.jpg"></div>
                      </div>
                      
                      <div class="col-lg-4 top-margin text-center">
                          <p class="award-text">Business Excellence Award By Richmond Chamber of Commence</p> 
              
                              <p class="business-text">“New Business of the Year Award"</p>
                      </div>
                      <div class="col-lg-8 top-margin">
                      <p>Annually, the New Business of the Year Award honours a new business (2 years or less from the date of incorporation or first day of operation) that has achieved outstanding business performance in a short period of time; demonstrated exceptional promise for continual growth; and serves as an inspiration for new businesses.</p>
                        
                      </div>
                      
                  </div>
                  <div id="ourteam" class="tab-pane fade">
                      
                      <div class="col-sm-6 col-md-4 col-lg-3">
                          <img class="img-responsive circle-photo" src="assets/img/wilson.jpg">
                          <h3>Wilson</h3>
                          <hr>
                          <p class="job-title">Founder &amp; CEO</p>
                          <p>Deals with all the little things.</p>
                          
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <img class="img-responsive circle-photo" src="assets/img/james.jpg">
                          <h3>James</h3>
                          <hr>  
                          <p class="job-title">Manager - Games Operation</p>
                          <p>Manages all things happening on site during operations.</p>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                      <img class="img-responsive circle-photo" src="assets/img/david.jpg">
                          <h3>David</h3>
                          <hr>
                          <p class="job-title">Assistant Manager - Games Operation</p>
                          <p>Executes all that is needed to ensure proper flow of operations.</p>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <img class="img-responsive circle-photo" src="assets/img/chase.jpg">
                          <h3>Chase</h3>
                          <hr>
                            <p class="job-title">Supervisor - Games Operation</p>
                          <p>Executes all that is needed to ensure proper flow of operations.</p>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                      <img class="img-responsive circle-photo" src="assets/img/ervin.jpg">
                          <h3>Ervin</h3>
                          <hr>
                            <p class="job-title">Supervisor - Games Operation</p>
                          <p>Executes all that is needed to ensure proper flow of operations.</p>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <img class="img-responsive circle-photo" src="assets/img/justin.jpg">
                          <h3>Justin</h3>
                          <hr>
                            <p class="job-title">Supervisor - Games Operation</p>
                          <p>Executes all that is needed to ensure proper flow of operations.</p>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <img class="img-responsive circle-photo" src="assets/img/heidi.jpg">
                          <h3>Heidi</h3>
                          <hr>
                                <p class="job-title">Supervisor - Food &amp; Beverage</p>
                          <p>Manages all things happening over at our food area.</p>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                      <img class="img-responsive circle-photo" src="assets/img/ken.jpg">
                          <h3>Ken</h3>
                          <hr>
                            <p class="job-title">Professional Photographer</p>
                          <p>Captures amazing pictures through his lens.</p>
                      </div>

                      
                      
                      
                  </div>
                  <div id="partnerships" class="tab-pane fade">
                    <div class="col-lg-7 ">
                        <p>Over 10,000 people from all over the world come to visit our games at the Richmond Night Market for a fun and memorable experience. We invest in our customers’ happiness so that they can share the experience with their friends and families. And it is due to their happiness that we have found success in connecting so many people in one place. Partnering with us and becoming our sponsor will benefit you in many ways, one of which is exposure. With thousands of customers and visitors every night, this opportunity is one quick stop to success.</p></div>
                    <div class="col-lg-4 .offset-lg-1">
                       <blockquote><i>Partnering with Wun2Free Entertainment will surely give your company an up-rise in popularity and a success toward future profit</i></blockquote>
                    </div>
                    <div class="col-lg-12 ">
                             <img class="img-responsive" src="assets/img/Sponsorship.jpg"> </div>
                     </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

  

    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <h1>Gallery</h1>
        </div>
    </aside>

    <!-- Portfolio -->
    <section id="gallery" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
            <ul class="nav nav-pills pill-text">
              <li class="active"><a data-toggle="pill" href="#home">All</a></li>
              <li><a data-toggle="pill" href="#menu1">Richmond Night Market</a></li>
            
            </ul><br>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                            <a href="#">
                                <img class="img-portfolio img-responsive" src="assets/img/richmond-night-market.jpg">
                                  <div class="img-text">
                                  <h2>Richmond Night Market</h2>
                                </div>
                                  
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/richmond-night-market2.jpg">
                                       <div class="img-text">
                                           <h2>Richmond Night Market</h2>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/duck-fishing.jpg">
                                              <div class="img-text">
                                           <h2>Duck Fishing</h2>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/richmond-night-market3.jpg">
                                     <div class="img-text">
                                           <h2>Richmond Night Market 2013</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                             <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/richmond-night-market4.jpg">
                                     <div class="img-text">
                                           <h2>Richmond Night Market 2013</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                         <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/ring-toss.jpg">
                                     <div class="img-text">
                                           <h2>Ring Toss</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        
                                         <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/slam-dunk.jpg">
                                     <div class="img-text">
                                           <h2>Slam Dunk</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                                         <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/ipad-winner.jpg">
                                     <div class="img-text">
                                           <h2>iPad Winner 2013</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                                         <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/birthday-games.jpg">
                                     <div class="img-text">
                                           <h2>Birthday Games</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                                                     <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/ipad-winner2.jpg">
                                     <div class="img-text">
                                           <h2>iPad Winner 2013</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                                                         <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/richmond-night-market5.jpg">
                                     <div class="img-text">
                                           <h2>Richmond Night Market 2013</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                                                         <div class="col-sm-6 col-md-4">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="assets/img/bubble-tea-avenue.jpg">
                                     <div class="img-text">
                                           <h2>Bubble Tea Avenue</h2>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.row (nested) -->
                    
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>


    <!-- Map -->
    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.4331135642524!2d-123.07617918420772!3d49.19234278508816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548675a440b0fe99%3A0x5f5639b834e43f41!2s2971+Viking+Way%2C+Richmond%2C+BC+V6V+1Y1!5e0!3m2!1sen!2sca!4v1472492423709"></iframe>
        <br />
        <small>
            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2607.4331135642524!2d-123.07617918420772!3d49.19234278508816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548675a440b0fe99%3A0x5f5639b834e43f41!2s2971+Viking+Way%2C+Richmond%2C+BC+V6V+1Y1!5e0!3m2!1sen!2sca!4v1472492423709"></a>
        </small>
        </iframe>
    </section>


    
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>WUN2FREE</strong>
                    </h4>
                    <p>105 - 2971 Viking Way
                        <br>Richmond, BC V6V 1Y1</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">name@example.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Desmond Chan</p>
                    <p class="text-muted">This website is a mock redesign of <a href="http://wun2free.com/">wun2free.com</a> meant for educational purposes only. I am in no way affiliated with the aforementioned company and I do not represent them in any way.</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>

</body>

</html>
